  /* See Comments Below */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    flex-direction: row;
}

body {
    background-color: #d9dcd6;
}

header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    display: inline-flex;
    font-size: 48px;
}

  /* Added Pseudo Element "SEO" and set color to grey */
h1::after {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    content: 'seo';
    font-size: 32px;
    color: grey;
}

 /* Consolidated nav elements */
nav {
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-align: center;
}

a {
    list-style-type: none;
    vertical-align: middle;
    margin-left: 25px;
    color: #ffffff;
    text-decoration: none;
}

 /* Added Pseudo Class - hover */
a:hover {
    background-color: grey;
    color: #2a607c;
}

p {
    font-size: 16px;
}

.hero {
    height: 800px;
    width: auto;
    margin: auto;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Consolidated H2 Elements */
section h2{
    margin-bottom: 20px;
    font-size: 36px;
    flex-wrap: wrap;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

 /* set <div> elements inside Aside and consolidated */
aside {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 32px;
    color: #ffffff;
    flex-direction: column;
}

 /* Consolidated H3 Elements */
aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    align-self: initial;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    align-self: flex-start;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    align-self: flex-end;
}

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}


/* Consolidated Footer tags */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}

/* Added media screen provisions to resize on screens smaller than  800px */
@media screen and (max-width: 800px) {
    .content {
      width: 100%;
    }

@media screen and (max-width: 800px) {
    .benefits {
        width: 100%;
    }    

@media screen and (max-width: 800px) {
    .a {
      float: right;
      width: 100%;
    }